<ol>
  <li>Add a button which says Display Details</li>
  <li>Add a paragraph with any content of your choice (e.g. "Secret Password=tuna"</li>
  <li>Toggle the display of that paragraph with the button created in the first step</li>
  <li>Log all button clicks in an array and output that array below the secret paragraph(maybe log a timestamp or simply an incrementing number</li>
  <li>Starting at the 5th log item, give all future log items ablue background (via ngStyle) and white color (ngClass)</li>
</ol>

<!-- <div>
  <input type="text" name="name" placeholder="name"[(ngModel)]>
</div>

<div>
  <button>RESET</button>
  
</div> -->
<!-- <p>
  <input mdInput placeholder="user" #filterName name="filterName" />
</p> -->
<!-- <button (click)="disable()"> {{ name }} </button> -->
<!-- <p *ngIf="isDisabled" > Hello There! </p> -->

<p>
  <button (click)="disable()">{{ name }}</button>
</p>

<p *ngIf="isDisabled">Jeje</p>





